@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.header {
  min-height: 20vh;
  /* background-image: url('https://images.unsplash.com/photo-1634497885778-152eb6fd543d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;*/
  background: linear-gradient(180deg, #C6BFB7 0%, #B6AEA9 100%); }
  .header .typo_titulo {
    font-family: "Lobster", cursive; }
  .header img {
    width: 160px;
    height: 80px; }

.navbar-collapse {
  flex-direction: column-reverse;
  flex-direction: row-reverse; }

.main {
  margin: 0px;
  min-height: 65vh;
  /* background-image: url("https://images.unsplash.com/photo-1634497885778-152eb6fd543d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/ }
  .main .img-presentacion {
    align-items: center; }

.flex-logo {
  display: flex; }

.gradiente {
  background: linear-gradient(180deg, #C6BFB7 0%, #B6AEA9 100%); }
