@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=PT+Sans+Narrow&display=swap");
.header {
  min-height: 20vh;
  /* background-image: url('https://images.unsplash.com/photo-1634497885778-152eb6fd543d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;*/ }
  .header .typo_titulo {
    font-family: "Lobster", cursive; }
  .header img {
    width: 160px;
    height: 80px; }
  .header .nav-link:hover {
    color: #393736;
    font-size: larger;
    text-decoration: dotted; }

.navbar-collapse {
  flex-direction: column-reverse;
  flex-direction: row-reverse; }

.main {
  margin: 0px;
  min-height: 65vh;
  /* background-image: url("https://images.unsplash.com/photo-1634497885778-152eb6fd543d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/ }
  .main .img-presentacion {
    align-items: center; }
  .main h1 {
    margin: 20px;
    font-family: "Cinzel Decorative", cursive;
    text-align: center; }
  .main h2 h3 h4 {
    font-family: "Cinzel Decorative", cursive; }
  .main h5 {
    margin: 20;
    font-family: "Cinzel Decorative", cursive;
    text-decoration: underline; }
  .main h6 {
    margin: 20;
    font-family: "Cinzel Decorative", cursive;
    text-decoration: underline; }

.flex-logo {
  display: flex; }

.gradiente {
  background: linear-gradient(180deg, #C6BFB7 0%, #B6AEA9 100%); }

.productos-destacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .productos-destacados div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    justify-content: space-evenly; }
  .productos-destacados img {
    align-items: center;
    width: 200px;
    height: 200px; }
  .productos-destacados span {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; }

.footer {
  margin: 0;
  padding: 0; }

.footer-linea {
  display: flex;
  justify-content: space-between; }
  .footer-linea div {
    margin: 20;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 150px; }
  .footer-linea img {
    align-items: center;
    width: 20px;
    height: 20px; }

span {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small; }
  span:hover {
    color: white; }
