@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.header {
  color: grey;
  min-height: 15vh; }
  .header .typo_titulo {
    font-family: "Lobster", cursive; }
  .header img {
    width: 160px;
    height: 80px; }

.main {
  margin: 0px;
  background-image: url("https://images.unsplash.com/photo-1614451153744-0c4f015f4d68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  height: 70vh; }
  .main .img-presentacion {
    align-items: center; }
