@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$letra_lobster: 'Lobster', cursive;

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
$titulos-muebles: 'Concert One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
$titulos-muebles2:'Cinzel Decorative', cursive;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=PT+Sans+Narrow&display=swap');
$subtitulos: 'Cinzel Decorative', cursive;