.footer {
  margin: 0;
  padding: 0;
  min-height: 5vh;
  background-color: map-get($colores, zlatan);

  span {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: map-get($colores, blanco);

    &:hover {
      text-decoration: underline;
    }
  }

  .footer__linea {
    @include flex(row, space-between, center, nowrap,space-between);

    div {
      margin-left: 20px;
      margin-bottom: 10px;
      border-left: antiquewhite;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    ul {
      list-style: none;
      margin-right: 30px;
      margin-top: 30px;


      a {
        text-decoration: none;
        font-family: map-get($fuentes , titulo);
        color: map-get($colores , blanco);
      }
    }

    h6{
      color:map-get($colores , blanco );
      font-family: map-get($fuentes , titulo);
      text-align: center;
    }
  }


}

@media only screen and (max-width: 600px) {
  .footer__linea {
    a{
      font-size: 15px ;
    }
  }

  span {
    font-size: xx-small;
  }

}

/*Esto lo puse aca  para saber es orden de los parametrs, no para ocultar codigo*/
// @mixin flex($estilo,$justify,$aling,$wrap){
//   display:flex;
//   flex-direction: $estilo;
//   justify-content: $justify;
//   align-items: $aling;
//   flex-wrap: $wrap;

// }    