.header{
    min-height: 10vh;
    background-color: map-get($colores , zlatan );
    &__flex--horizontal{
        @include flex(row,space-between,center,nowrap,space-between)
    }

    &__flex--vertical{
        // display: flex;
        // flex-direction: column;
        @include flex(column,space-between,center,nowrap,space-between)
    }

    img {
        margin-top: 10px;
        width: 300px;
        height: 120px;
    }

    @media screen and (max-width: 768px) {
        img {
            margin-top: 10px;
            width: 200px;
            height: 80px;
        }
    }
}