.main {
  margin: 0px;
  min-height: 65vh;
 /* background-image: url("https://images.unsplash.com/photo-1634497885778-152eb6fd543d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  .img-presentacion {
    align-items: center;
  }
}
.flex-logo {
  display: flex;
}

.gradiente {
    background: $gradiente-header;
}
